@import "tailwindcss";

:root {
  --bg-primary: #0f1117;
  --bg-secondary: #161b27;
  --bg-card: #1c2333;
  --border: #2d3748;
  --accent: #3b82f6;
  --text-primary: #e2e8f0;
  --text-secondary: #94a3b8;
}

body {
  background-color: #0f1117;
  color: #e2e8f0;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0f1117;
}
::-webkit-scrollbar-thumb {
  background: #2d3748;
  border-radius: 3px;
}
